@media (min-width: 992px) {
  .modal-lg {
    max-width: 992px;
  }
}
.selectedImage {
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 10px;
}
.selectedImage .img {
  max-width: 80%;
}
.disconnectImage {
  margin-top: 10px;
  float: left;
}
/*# sourceMappingURL=gula-cms.css.map */